<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <link rel="stylesheet" href="../../Content/Styles/Web/public.css">
  <link rel="stylesheet" href="../../Content/Styles/Web/home.css">
</head>
<body>
    <div class="header pt20">
        <div class="w1200 auto">
          <!-- logo start -->
            <h1 class="logo">
              <a href="">
                <img src="../../Content/Images/logo.png" alt="">
              </a>
            </h1>
          <!-- logo end  -->
          <div class="rightBar">
              <div class="tel">
                  <i class="icon_tel"></i>
                    免费中文电话：400-000-0000
                    <em class='mr15 ml15'>|</em>
                    <div class="language">
                      <span>
                        简体
                        <i class="icon_arrow_down">
                        </i>
                      </span>
                    </div>
              </div>
              <div class="btnBar">
                  <a href="" class="reg">
                    <i class="icon_man_1"></i>
                    注册真实账户
                  </a>
                  <a href="" class="login">
                    <i class="icon_chat_1"></i>
                    登录账号
                  </a>
                  <a href="" class="support">
                    <i class="icon_tel_1"></i>
                    在线客服
                  </a>
              </div>
          </div>
        </div>
    </div>
</body>
</html>